<div class="col-12">
  <div class="row">
    <div class="col-2">
      <span>First Name</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.user?.first_name}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <span>Last Name</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.user?.last_name}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <span>Email</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.user?.email}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <span>Username</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.user?.username}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <span>Height</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.height}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <span>Average score</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.average_score}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <span>Games played</span>
    </div>
    <div class="col-10">
      <span>{{playerDetails?.games_played}}</span>
    </div>
  </div>
</div>


